html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ITCAvantGardeW04-Bold";
  text-transform: uppercase; }

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

#launcher {
  font-family: 'Roboto';
  background: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding: 2px 5px;
  transition: 0.25s all ease-in-out; }
  #launcher:hover {
    background: rgba(255, 255, 255, 0.2); }

button:active, button:focus {
  outline: none; }

#bg {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.state1 {
  background: #6966dd; }

.state2 {
  background: #ff5f7a; }

.state3 {
  background: #c6ba28; }

.state4 {
  background: #15cc70; }

.state5 {
  background: #10c7e0; }

#topnav {
  list-style-type: none; }
  #topnav a, #topnav a:visited, #topnav a:active, #topnav a:hover {
    color: #ffffff;
    letter-spacing: 1px; }
  #topnav .cw {
    position: fixed;
    top: 20px;
    left: 35px;
    text-decoration: none;
    padding: 10px 14px 5px 14px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    transition: 0.25s all ease-in-out; }
  #topnav .cw:hover {
    background: rgba(255, 255, 255, 0.1); }
  #topnav .topnav-right {
    position: fixed;
    top: 30px;
    right: 35px; }
  #topnav li, #topnav .cw {
    font-family: "ITCAvantGardeW04-Bold";
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase; }
  #topnav li {
    margin-left: 20px;
    display: inline-block; }

#bottomnav {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 12px;
  letter-spacing: 1px;
  z-index: 1; }
  #bottomnav .left {
    position: fixed;
    bottom: 30px;
    left: 35px;
    text-align: left; }
  #bottomnav .center {
    width: 200px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: -100px;
    text-align: center; }
  #bottomnav .right {
    position: fixed;
    bottom: 30px;
    right: 35px;
    text-align: right; }

#leftnav {
  width: 350px;
  background: #000000;
  height: 100vh;
  float: left;
  position: fixed;
  left: 0;
  top: 0; }
  #leftnav .back {
    color: #ffffff;
    font-family: "ITCAvantGardeW04-Bold";
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 50px;
    padding: 15px 0 10px 15px;
    display: block; }
  #leftnav ul {
    height: calc(100vh - 20px);
    margin-top: 20px; }
  #leftnav li {
    height: 16%;
    width: 100%;
    background: #333333; }
    #leftnav li a {
      color: #ffffff;
      font-family: "ITCAvantGardeW04-Bold";
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 100%;
      padding: 0 10px;
      margin-top: 30px; }

#aboutp, #joinp, #hydtp, #devp {
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.95; }
  #aboutp h1, #joinp h1, #hydtp h1, #devp h1 {
    color: #ffffff;
    width: 440px;
    padding: 10px;
    position: fixed;
    top: 250px;
    left: 50%;
    margin-left: -215px;
    padding-bottom: 15px;
    text-align: center;
    letter-spacing: 2px; }
  #aboutp p, #joinp p, #hydtp p, #devp p {
    color: #333333;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: left;
    width: 450px;
    position: fixed;
    top: 330px;
    left: 50%;
    margin-left: -225px; }
    #aboutp p a, #joinp p a, #hydtp p a, #devp p a {
      color: #ffffff;
      font-weight: bold;
      transition: 0.25s all ease-in-out; }
      #aboutp p a:hover, #joinp p a:hover, #hydtp p a:hover, #devp p a:hover {
        border-bottom: 1px solid #ffffff;
        cursor: pointer; }
    #aboutp p .closeme, #joinp p .closeme, #hydtp p .closeme, #devp p .closeme {
      font-family: 'Roboto';
      background: none;
      border: 1px solid #ffffff;
      border-radius: 5px;
      color: #ffffff;
      padding: 2px 5px;
      transition: 0.25s all ease-in-out; }
      #aboutp p .closeme:hover, #joinp p .closeme:hover, #hydtp p .closeme:hover, #devp p .closeme:hover {
        background: rgba(255, 255, 255, 0.2); }

#aboutp {
  background: #6966dd; }

#joinp {
  background: #c6ba28; }

#hydtp {
  background: #10c7e0; }

#devp {
  background: #ff5f7a; }

.hidden {
  display: none; }

#main {
  width: 440px;
  padding: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -215px; }
  #main .logomark {
    background-image: url("../images/logo_white_115x150.svg");
    display: inline-block;
    width: 115px;
    height: 150px; }
  #main h1 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 54px;
    width: 230px;
    display: inline-block;
    position: relative;
    top: -15px;
    left: 50px; }
  #main p {
    color: #333333;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: left; }
    #main p a {
      color: #ffffff;
      font-weight: bold;
      transition: 0.25s all ease-in-out; }
      #main p a:hover {
        border-bottom: 1px solid #ffffff;
        cursor: pointer; }
  #main .todos {
    list-style-type: none;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 1px; }
    #main .todos li {
      display: inline-block; }
    #main .todos li:nth-of-type(2) {
      text-align: right;
      position: relative;
      right: 0; }
    #main .todos b {
      font-weight: 700;
      text-transform: uppercase; }

#post {
  margin-left: 350px;
  width: calc(100vw - 350px);
  background: #ffffff;
  height: auto; }

.post-header {
  width: 100%;
  height: 400px;
  background: #ff5f7a;
  margin: 0; }
  .post-header h1 {
    width: 600px;
    position: relative;
    top: 120px;
    left: 50%;
    margin-left: -300px;
    font-family: "ITCAvantGardeW04-Bold";
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 2px; }

.post-info {
  width: 600px;
  list-style-type: none;
  text-align: center;
  border-top: 1px solid #ffffff;
  margin-top: 10px; }
  .post-info li {
    font-size: 14px;
    display: inline-block;
    margin-right: 30px;
    font-family: "Roboto"; }

.post-content {
  padding: 80px 200px; }
  .post-content p {
    font-family: 'Roboto';
    font-size: 18px;
    color: #333333;
    line-height: 22.5px;
    margin-bottom: 15px; }

/*# sourceMappingURL=styles.css.map */
