#aboutp, #joinp, #hydtp, #devp {
	z-index: 10000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.95;
	h1 {
		color: $white;
		width: 440px;
		padding: 10px;
		position: fixed;
		top: 250px;
		left: 50%;
		margin-left: -215px;
		padding-bottom: 15px;
		text-align: center;
		letter-spacing: 2px;
	}
	p {
		color: $dark-grey;
		font-family: $Roboto;
		font-size: $font-sm;
		line-height: 18px;
		letter-spacing: 1px;
		text-align: left;
		width: 450px;
		position: fixed;
		top: 330px;
		left: 50%;
		margin-left: -225px;
		a {
			color: $white;
			font-weight: bold;
			transition: $medium;
			&:hover {
				border-bottom: 1px solid $white;
				cursor: pointer;
			}
		}
		.closeme {
			font-family: 'Roboto';
			background: none;
			border: 1px solid $white;
			border-radius: 5px;
			color: $white;
			padding: 2px 5px;
			transition: $medium;
			&:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}
}

#aboutp {
	background: $purple;
}

#joinp {
	background: $yg;
}

#hydtp {
	background: $blue;
}

#devp {
	background: $red;
}

.hidden {
	display: none;
}