// COLOR

$black: #000000;
$dark-grey: #333333;
$white: #ffffff;
$light-grey: #ececec;
$purple: #6966dd;
$red: #ff5f7a;
$yg: #c6ba28;
$green: #15cc70;
$blue: #10c7e0;


// TYPOGRAPHY

$default-text-color: $black !default;

$ITC:'ITCAvantGardeW04-Bold';

$Source: 'Source Sans Pro';

$Roboto: 'Roboto';



// TYPE SIZES

$font-sm: 12px;
$font-md: 14px;
$font-post: 18px;
$font-lg: 20px;
$font-xl: 48px;

$lh-post: 22.5px;


h1, h2, h3, h4, h5, h6 {
	font-family: $ITC;
	text-transform: uppercase;
}

// TRANSITIONS

$medium: 0.25s all ease-in-out;


// BREAKPOINTS

$desktop-lg: 1280px;
$desktop-md: 960px;
$mobile: 400px;