#main {
	width: 440px;
	padding: 10px;
	position: relative;
	left: 50%;
	margin-left: -215px;
	.logomark {
		background-image: url('../images/logo_white_115x150.svg');
		display: inline-block;
		width: 115px;
		height: 150px;
	}
	h1 {
		color: $white;
		letter-spacing: 2px;
		font-size: 54px;
		width: 230px;
		display: inline-block;
		position: relative;
		top: -15px;
		left: 50px;
	}
	p {
		color: $dark-grey;
		font-family: $Roboto;
		font-size: $font-sm;
		line-height: 18px;
		letter-spacing: 1px;
		margin-top: 20px;
		text-align: left;
		a {
			color: $white;
			font-weight: bold;
			transition: $medium;
			&:hover {
				border-bottom: 1px solid $white;
				cursor: pointer;
			}
		}
	}
}

#aboutus, #work, #jobs {
	width: 1080px;
	padding: 10px;
	position: relative;
	left: 50%;
	margin-left: -540px;
	h1 {
		text-align: center;
		color: $white;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}
	p {
		text-align: center;
		font-size: 14px;
		width: 550px;
		margin: 0 auto;
		line-height: 22px;
		color: $black;
		font-family: $Roboto;
		margin-top: 20px;
		//margin-bottom: 40px;
		a {
			color: $white;
			font-weight: bold;
			transition: $medium;
			&:hover {
				border-bottom: 1px solid $white;
				cursor: pointer;
			}
		}
	}
}

#jobs {
	.patch-logos {
		background: url("../images/patch_logos.png");
		width: 1080px;
		height: 467px;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

#work {
	p {
		text-align: left;
	}
}