#post {
	margin-left: 350px;
	width: calc(100vw - 350px);
	background: $white;
	height: auto;
}

.post-header {
	width: 100%;
	height: 400px;
	background: $red;
	margin: 0;
	h1 {
		width: 600px;
		position: relative;
		top: 120px;
		left: 50%;
		margin-left: -300px;
		font-family: $ITC;
		color: $white;
		font-size: $font-xl;
		text-align: center;
		letter-spacing: 2px;
	}
}

.post-info {
	width: 600px;
	list-style-type: none;
	text-align: center;
	border-top: 1px solid $white;
	margin-top: 10px;
	li {
		font-size: $font-md;
		display: inline-block;
		margin-right: 30px;
		font-family: $Roboto;
	}
}

.post-content {
	padding: 80px 200px;
	p {
		font-family: 'Roboto';
		font-size: $font-post;
		color: $dark-grey;
		line-height: $lh-post;
		margin-bottom: 15px;
	}
}

